
<nav class="navbar navbar-expand-lg navbar-light fixed-top w3-container w3-card  ">
  <div class="container-fluid">
    <b><a class="navbar-brand " routerLink="/home"><b>TrainDar</b><img src="../../assets/154101.png" ></a></b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse smalllap" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 pp2">
        <pre class="pre">                                                                                                 </pre>
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" href="/home#about">About Us</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" href="/home#service">Services</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" routerLink="/signinform">Login/Register</a>
        </li>
        &nbsp;&nbsp;&nbsp;
      </ul>
    </div>
  </div>
</nav>




