//
.navbar-brand {
    font-size: 30px;
    align-items: center;
}

.navbar-brand img {
    width: 80px;
    height: 50px;
    margin-bottom: 10px;
}

.nav-item {
    font-size: 18px;
}

.navbar-light {
    background-color: #DFD1A2;
}

.navbar-nav pre {
    background-color: #DFD1A2;
}

//
.navbar-nav li {
    font-size: 15px;
}

.navbar-nav li:hover {
    background-color: #bbac7c;
}

.dropdown-menu {
    width: 350px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #DFD1A2;
}


//1312 1336      1351 1383   1406 1434

@media ( min-width: 1301px)and  ( max-width:1535px) 
{   
    .navbar-nav li{font-size:13px;}

}
@media ( min-width: 1490px)and  ( max-width:1535px) 
{   
    .pre{display:none}
    .pp2{margin-left:520px;}
}


@media (min-width: 768px)and (max-width:1300px) {
    .smalllap {
        margin-left: 2600px;
    }
    .navbar-nav li {
        font-size: 35px;
        margin-inline: 35px;
    }
}


@media (min-width: 768px)and (max-width:1050px) {
    .smalllap {
        margin-left: 1940px;
    }
    .navbar-nav li {
        font-size: 35px;
        margin-inline: 35px;
    }
}


@media ( min-width: 1301px)and  ( max-width:1350px) 
{   .pre{display:none}
    .pp2{margin-left:500px;}
}

@media ( min-width: 1350px)and  ( max-width:1400px) 
{   .pre{display:none}
    .pp2{margin-left:550px;}
}


@media ( min-width: 1400px)and  ( max-width:1495px) 
{   .pre{display:none}
    .pp2{margin-left:600px;}
}


@media ( min-width: 1495px)and  ( max-width:1535px) 
{ 
    .smalllap{margin-left:150px;}
}


