.navbar-brand{font-size: 30px;align-items:center;}
.navbar-brand img{width:80px;height:50px;margin-bottom:10px;}
.nav-item{font-size: 18px;}
.navbar-light{
    background-color: #DFD1A2;
}
.navbar-nav pre{background-color:#DFD1A2 ;}
.navbar-nav li{font-size:15px;}
.navbar-nav li:hover{background-color: #bbac7c;}
.dropdown-menu{width: 350px;height: 350px;overflow-y: scroll;overflow-x: hidden;}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color:#DFD1A2;
}

.pp img{width:30px;height:30px;margin-right:2px;}

@media ( min-width: 768px)and ( max-width:1300px) {
    .smalllap{margin-left: 2800px;}
    .navbar-nav li{font-size:35px;margin-inline:35px;}
    }
    

@media ( min-width: 768px)and ( max-width:1050px) {
    .smalllap{margin-left: 1850px;}
    .navbar-nav li{font-size:35px;margin-inline:30px;}
    }


@media ( min-width: 1495px)and  ( max-width:1535px) 
{ 
    .smalllap{margin-left: 110px;}
    .navbar-nav li{font-size:16px;}
}


@media ( min-width: 1400px)and  ( max-width:1495px) 
{   .pre{display:none}
    .pp2{margin-left:515px;}
    .navbar-nav li{font-size:16px;}
}

@media ( min-width: 1350px)and  ( max-width:1400px) 
{   .pre{display:none}
    .pp2{margin-left:460px;}
    .navbar-nav li{font-size:16px;}
}

@media ( min-width: 1301px)and  ( max-width:1350px) 
{   .pre{display:none}
    .pp2{margin-left:418px;}
    .navbar-nav li{font-size:16px;}
}




