#singup{background-image: url('../../assets/formbakground.png');height:800px;background-position: center;}
.form{background-color: #DFD1A2;opacity:0.8;width:400px;height:450px;}
h2 {margin-left:95px;}
h4{margin-left:110px;}
.form-control{width:300px;}
.message{height: 100px;}
p a{color: black;}
.btn {background-color: #F6BC00;border-radius:25px;margin-left:80px;width: 150px;}
.btn a{color:black;text-decoration: none;}
small{margin-left:3.5px;}

.name{
  background-image: url("../../assets/Icon\ awesome-user-circle.png");
  background-size: 20px 20px;
  background-position: 270px 8px;
  background-repeat: no-repeat;
}

.email{
  background-image: url("../../assets/Icon\ material-email.png");
  background-size: 20px 20px;
  background-position: 270px 8px;
  background-repeat: no-repeat;
}

.name:focus,.email:focus{background-image: none;}