<app-headerafter></app-headerafter>
<br><br>
<div class="container px-5">
    <div class="row gx-4">
        <!-- the left div  -->
        <div class="col-md-3 mb-5 leftdiv">
            <div class="row">
                <div class=" photo col-md-12 ">
                    <img class="pimg" src="../../assets/coin.png"><span class="mt-2">Points History</span>
                    <br><br><br>
                    <p class="name " style="text-align: center;">{{profileInfo.name}}</p>
                    <p class=" email " style="text-align: center;">{{profileInfo.email}} </p>
                </div>
            </div>

        </div>


        <!-- the Right div contain the personal Information -->
        <div class="col-md-7 ms-auto me-auto rightdiv">
            <div class="row">
                <div class=" col-md-12 " style="font-size:30px;align-items: baseline;" id="row3">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brr">
    <br><br><br><br>
</div>
<app-footer></app-footer>