.form {background-color: #DFD1A2;opacity:0.8;width:400px;}
.form img{width:80px;height:50px;}
h4{margin-left:100px;}
.form-control{width:270px;}
p a{color: black;}
.btn2{background-color: #F6BC00;border-radius:25px;margin-left:100px;}
.forget3,.btn2{align-self: center;}

a.disabled {cursor:pointer;}
#forgetpass3{background-image: url('../../assets/formbakground.png');height:750px;background-position: center;}


#forgetpass3 h2{margin-left:95px;text-align: end;}
#forgetpass3 input{margin-left:25px;}
#forgetpass3 p{font-size: 11.5px;margin-left:20px;}
#forgetpass3 h5{margin-left:47px;}
#forgetpass3 .btn2{margin-left:20px;}
#forgetpass3 form img{margin-left:20px;width:30px;height:25px;}

#forgetpass3 small{margin-left:28.5px;}


.code{
  background-image: url("../../assets/Icon\ ionic-md-create.png");
  background-size: 20px 20px;
  background-position: 240px 8px;
  background-repeat: no-repeat;
}

.code:focus{background-image: none;}





.form {background-color: #DFD1A2;opacity:0.8;width:400px;}
.form img{width:80px;height:50px;}
h4{margin-left:100px;}
.form-control{width:270px;}
p a{color: black;}
.btn1 {background-color: #F6BC00;border-radius:25px;margin-left:105px;}
.btn2{background-color: #F6BC00;border-radius:25px;margin-left:100px;}
.forget2,.btn2{align-self: center;}

a.disabled {cursor:pointer;}
#forgetpass2{background-image: url('../../assets/formbakground.png');height:750px;background-position: center;}


#forgetpass2 h2{margin-left:100px;text-align: end;}
#forgetpass2 input{margin-left:25px;}
#forgetpass2 p{font-size: 11.5px;margin-left:20px;}
#forgetpass2 h5{margin-left:67px;}
#forgetpass2 .btn2{margin-left:20px;}
 #forgetpass2 form img {margin-left:20px;width:30px;height:25px;}



#forgetpass2 small{margin-left:28.5px;}


.pass{
  background-image: url("../../assets/Icon\ awesome-lock.png");
  background-size: 20px 20px;
  background-position: 240px 8px;
  background-repeat: no-repeat;
}


.pass:focus{background-image: none;}


@media ( min-width: 768px)and  ( max-width:1300px) 
 { 
  #forgetpass2,#forgetpass3{height:1200px; background-repeat:no-repeat;}
}

// my phone
@media ( min-width: 400px)and  ( max-width: 768px) 
 {
  #forgetpass2,#forgetpass3{height:1070px;background-repeat: no-repeat;}
 }


// small pfone
@media ( max-width:400px) 
 { 
  #forgetpass2,.forgetpass3{height:1300px;background-repeat: no-repeat;}
}