<app-headerafter></app-headerafter>
<br><br><br>
<section  *ngIf="manageFlag" id="singup" class=" d-flex justify-content-center " >
    <div class=" final">
      <h2><a routerLink="/home">TrainDar</a></h2>
      <h4>Manage points</h4><br>
      <button class="btn btn1"(click)="sendPoints1()">Send Points</button>
      <br><br>
      <button class="btn btn1"(click)="buyPoints1()">Buy Points</button>
      <br><br>
      <button class="btn btn1">Points History</button>
  
  </div>
</section>


  <section *ngIf="sendFlag"  id="send" class=" d-flex justify-content-center " >
  <div class=" final">
    <h2><a routerLink="/home">TrainDar</a></h2>
    <h4>Send points</h4><br>

    <input id="name" type="text" class="form-control name" placeholder="Enter Username"  [class.is-invalid]="txtname.invalid && txtname.touched" pattern="[A-Za-z ]*" name="textname" required #txtname="ngModel"  [(ngModel)]="name"/>
      <small class="text-danger" [class.d-none]="!txtname.errors?.['required'] || txtname.untouched">
        Name is required
    </small>
    <small class="text-danger" [class.d-none]="!txtname.errors?.['pattern'] || txtname.untouched">
        Name must contain only capital and smal characters
    </small>
<br>
    <input id="name" type="text" class="form-control point" placeholder="Enter Points number"  [class.is-invalid]="txtpoint.invalid && txtpoint.touched" name="txtpoint" required #txtpoint="ngModel"  [(ngModel)]="pointnumber"/>
      <small class="text-danger" [class.d-none]="!txtpoint.errors?.['required'] || txtpoint.untouched">
        Points number is required
    </small>
    <small class="text-danger" [class.d-none]="!txtpoint.errors?.['pattern'] || txtpoint.untouched">
        Points number must be number
    </small>
<br>
<p *ngIf="messageFlag" class="text-center fs-6 fw-bold text-danger">Please complete information </p>
<button class="btn btn1" (click)="sendPoints2()">Send Points</button>
</div>
  </section>



  <section *ngIf="buyFlag"  id="buy" class=" d-flex justify-content-center " >
    <div class=" final">
      <h2><a routerLink="/home">TrainDar</a></h2>
      <h4>Buy points</h4><br>
  
      <input id="name" type="text" class="form-control" placeholder="Enter Points number"  [class.is-invalid]="txtpoint.invalid && txtpoint.touched"  name="txtpoint" required #txtpoint="ngModel"  [(ngModel)]="pointModel.pointnumber"/>
      <small class="text-danger" [class.d-none]="!txtpoint.errors?.['required'] || txtpoint.untouched">
        Points number is required
    </small>
    <small class="text-danger" [class.d-none]="!txtpoint.errors?.['pattern'] || txtpoint.untouched">
        Points must be number
    </small>
  <br>
      <input id="name" type="text" class="form-control" placeholder="Enter Card number"  [class.is-invalid]="txtcard.invalid && txtcard.touched"  name="txtcard" required #txtcard="ngModel"  [(ngModel)]="pointModel.cardnumber"/>
        <small class="text-danger" [class.d-none]="!txtcard.errors?.['required'] || txtcard.untouched">
          Card is required
      </small>
      <small class="text-danger" [class.d-none]="!txtcard.errors?.['pattern'] || txtcard.untouched">
        Card must be number
      </small>
  <br>
  <input id="name" type="text" class="form-control" placeholder="Enter Expary date"  [class.is-invalid]="txtdate.invalid && txtdate.touched"  name="txtdate" required #txtdate="ngModel"  [(ngModel)]="pointModel.expirydate"/>
        <small class="text-danger" [class.d-none]="!txtdate.errors?.['required'] || txtdate.untouched">
          Expary date is required
      </small>
      <small class="text-danger" [class.d-none]="!txtdate.errors?.['pattern'] || txtdate.untouched">
        Expary date must contain only capital and smal characters
      </small>
  <br>
  <input id="name" type="text" class="form-control" placeholder="Enter Security Code"  [class.is-invalid]="txtcode.invalid && txtcode.touched"  name="txtcode" required #txtcode="ngModel"  [(ngModel)]="pointModel.securitycode"/>
        <small class="text-danger" [class.d-none]="!txtcode.errors?.['required'] || txtcode.untouched">
          Security Code is required
      </small>
      <small class="text-danger" [class.d-none]="!txtcode.errors?.['pattern'] || txtcode.untouched">
        Security Code must be number
      </small>
  <br>
  <p style="text-align: center;font-size: 12px;margin-left:80px;margin-right:80px;">By placing this order you agree to the Credit Card payment terms & conditions</p>
  <p *ngIf="messageFlag" class="text-center fs-6 fw-bold text-danger">Please complete register information </p>

      <button class="btn btn1" (click)="buyPoints2()">Pay</button>
      <button class="btn btn2" (click)="cancel()">Cancel</button>
  </div>
    </section>


    <app-footerafter></app-footerafter>