<footer>
    <div class="container footafter">
        <div class="row row-cols-2 row-cols-lg-4">
            <div class="col ">
                <div class="p-3 mt-2 ">
                    <div class="row ">
                        <div class="col-md-12">
                            <h3>Get In Touch</h3>
                        </div>
                        <div class="col-md-12 mb-2"><img class="img me-2" src="../../assets/450016.png">123 street, Asyut, Egypt</div>
                        <div class="col-md-12 mb-2"><img class="img me-2" src="../../assets/95645.png">info@example.com</div>
                        <div class="col-md-12 mb-2"><a href="#"><img class="simg me-2"
                                    src="../../assets/4138166.png"></a>
                            <a href="#"><img class="simg me-2" src="../../assets/4138168.png"></a>
                            <a href="#"><img class="simg me-2" src="../../assets/1384015.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Quick links</h3>
                        </div>
                        <div class="col-md-12 mb-2"><a href="/homeafter">>Home</a></div>
                        <div class="col-md-12 mb-2"><a href="/homeafter#aboutafter">>About Us</a></div>
                        <div class="col-md-12 mb-2"><a href="/homeafter#serviceafter">>Services</a></div>
                        <div class="col-md-12 mb-2"><a href="/contactafter">>Contact</a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="row me-4">
                        <div class="col-md-12">
                            <h3>Services</h3>
                        </div>
                        <div class="col-md-12 mb-2"><a (click)="Sweetalert()" class="disabled1">>Share Location</a></div>
                        <div class="col-md-12 mb-2"><a href="/TrainID" target="_blank"class="disabled1">>Search by train ID</a></div>
                        <div class="col-md-12 mb-2"><a href="/CityTrainID" target="_blank" class="disabled1">>Check upcoming trains</a></div>
                        <div class="col-md-12 mb-2"><a href="/CityTrainName" target="_blank" class="disabled1">>Check out the next stop</a></div>
                        <div class="col-md-12 mb-2"><a href="/points" target="_blank" class="disabled1">>Manage points</a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-2">
                    <div class="row ">
                        <div class="col-md-12 ">
                            <h3>NewsLetter</h3>
                        </div>
                        <div class="col-md-6 mt-2 me-5">
                            <input class="f1 form-control btn-light" type="email" placeholder="your email:">
                        </div>
                        <div class="col-md-3 mt-2">
                            <button type="button" class=" text-center f2 btn btn-dark p-1">Subscribe</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

</footer>