footer{background-color:#DFD1A2 ;}
.img{width:20px;height:20px;}
.simg{width:4;height:40px;}
a{text-decoration: none;color: black;}
.f1{height: 35px;width:215px;}
.f2{height:35px;  width:100px;}
a.disabled {cursor:pointer;font-size: 13px;}
