<app-header></app-header>
<div id="home" >
<br><br>
<div class="containerr">
  <img class="img" src="../../assets/train1.jpg" alt="Snow" style="width:100%;" height="100%">
  <div class="bottom-left save"><span>Save your time <br>with Traindar app</span></div>
</div>

<!-- <img class="img1 d-block w-100" src="../../assets/train1.jpg" alt="First slide"> -->
<br><br><br><br>
<div class="about" id="about">
    <br><br>
    <h1 class="h">About us</h1>
    <p class="aboutp">Using the location of any person in a specific train,
      Our app will track that train then provides its known 
      location. we offer other services like knowing the next to
      station and when would a train arrive at a specific one.</p>
    <br><br>
</div>
<br><br><br>
<div class="services"  id="service">
  <br><br>
    <h1 class="h"> Services</h1>
    <br>
    <div class="container rooow ">
        <div class="row row1  ">
          <div class=" col-md-6 col-lg-3 col-xl-2 ss">
           <a href="/loginform"> <div class="s p-5 border "><img class="mb-3" src="../../assets/Icon material-location-on.png"><br>Share location</div></a>
          </div>
          <div class=" col-md-6 col-lg-3 col-xl-2 ss">
            <a href="/loginform"> <div class="s p-5 border "><img class="mb-3" src="../../assets/city (2).png"><br>Search by train ID</div></a>
          </div>
          <div class=" col-md-6 col-lg-3 col-xl-2 ss">
            <a href="/loginform"> <div class="s p-5 border "><img class="mb-3" src="../../assets/Icon awesome-train.png"><br>Check upcoming trains  </div></a>
          </div>
        </div>
      </div>
        <div class="row  row2  ">
          <div class=" col-md-6 col-lg-2 col-xl-2 ss1">
           <a href="/loginform"> <div class="s p-5 border "><img class="mb-3" src="../../assets/city (1).png"><br>Check out the next stop</div></a>
          </div>
          <div class=" col-md-6 col-lg-2 col-xl-2 ss2">
            <a href="/loginform"> <div class="s p-5 border "><img class="mb-3" src="../../assets/Icon awesome-coins.png"><br>Manage points</div></a>
          </div>
        </div>
      </div>
     <div class="brr">
      <br><br><br><br><br><br><br>
    </div>
      <app-footer></app-footer>


