#home{font-family:Arial, Helvetica, sans-serif}
.containerr {
    position: relative;
    text-align: center;
    color: white;
    height:370px;
    background-color: Black;
  }
  .img{
    opacity:0.5;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom:40px;
    left:100px;
    font-size:45px;
  }
// .img1{height:350px;}
.about{background-color:#DFD1A2 ;}
.h{margin:30px;}
.aboutp{margin-left:50px;font-size:25px;}
a{color: black;text-decoration: none;}

.row1 .ss{width:300px;height: 300px;margin-right:30px;margin-left:30px;}
.row1{margin-left:120px; }//margin-left:10% ;margin-right:5%




.row2 .ss1{width:300px;height: 300px;margin-right:30px;margin-left:30px;}
.row2 .ss2{width:300px;height: 300px;margin-right:30px;margin-left:30px;}
.row2 {margin-left:420px;}


.s{height: 270px;}
.s{background-color:#DFD1A2 ;font-size:25px;text-align: center;border-radius: 25px;box-shadow: 5px 5px inset #968d77;}
.s img{width:100px;height:100px;}
footer{background-color:#DFD1A2 ;}


.ss a .s:hover{background-color:#bbac7c ;}
.ss1 a .s:hover{background-color:#bbac7c ;}
.ss2 a .s:hover{background-color:#bbac7c ;}





// small phone
@media ( max-width:400px) {
  .row1{ 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .row2{
    margin-left: auto;
    margin-right: auto;
    width: 48%;
  }
  .aboutp{margin-right:15%;}
}




// my phone
@media ( min-width: 400px)and  ( max-width:575px) {// 768px
  .row1{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .row2{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .aboutp{margin-right:15%;font-size:20px;}
  .bottom-left {
    position: absolute;
    bottom:30px;
    left:40px;
    font-size:25px;
  }
}


@media ( min-width: 575px)and ( max-width:768px) {
  .rooow{margin-left:600px;}
  .row1{
   margin-left: auto;
   margin-right: auto;
   width: 400%;
 }
 .row2{
   margin-left: 800px;
   margin-right: auto;
   width: 400%;
 }
   .aboutp{font-size:35px;}
   .bottom-left {
     position: absolute;
     bottom:30px;
     left:100px;
     font-size:50px;
   }
  }


  @media ( min-width: 768px)and  ( max-width:825px){
    .rooow{margin-left:1000px;margin-top: 600px;}
      .row1{
        margin-left: auto;
        margin-right:auto;
        width: 400%;
      }
      .row2{
        margin-left:1200px;
        margin-right: auto;
        margin-bottom: 300px;
        width: 400%;
      }
      .aboutp{font-size:40px;margin-right:2%;}
      .brr{margin-bottom:1700px;}
    }


    @media ( min-width: 1024px)and  ( max-width:1279px){//1300px
    .rooow{margin-left:1450px;}
      .row1{
        margin-left: auto;
        margin-right:auto;
        width: 175%;
      }
      .row2{
        margin-left:1650px;
        margin-right: auto;
        width: 175%;
        margin-bottom: 400px;
      }
      .aboutp{font-size:40px;margin-right:3%;}
    }


    @media ( min-width: 1279px)and  ( max-width:1300px){//1300px
      .rooow{margin-left:1950px;margin-top:300px;}
        .row1{
          margin-left: auto;
          margin-right:auto;
          width: 175%;
        }
        .row2{
          margin-left:2150px;
          margin-right: auto;
          width: 175%;
          margin-bottom: 600px;
        }
        .aboutp{font-size:45px;margin-right: 10%;}
        .brr{margin-bottom:300px;}

      }




@media ( min-width: 1301px)and  ( max-width:1350px) 
{  
  .rooow{margin-left:130px;}

  .row1{
  margin-left: auto;
  margin-right:auto;
}
.row2{
  margin-left:320px;
  margin-right: auto;
  margin-bottom: 350px;
}
.aboutp{font-size:25px;margin-right: 13%;}

}

@media ( min-width: 1350px)and  ( max-width:1400px) 
{ 
  .rooow{margin-left:170px;}
 
  .row1{
  margin-left: auto;
  margin-right:auto;
}
.row2{
  margin-left:350px;
  margin-right: auto;
  margin-bottom: 350px;
}
.aboutp{font-size:25px;margin-right: 12%;}

}


@media ( min-width: 1400px)and  ( max-width:1495px) 
{   
  .row2{
    margin-left:375px;
    margin-right: auto;
    margin-bottom: 300px;
  }
  .aboutp{font-size:25px;margin-right:12%;}
}

@media ( min-width: 1495px)and  ( max-width:1535px) 
{ 
//.rooow{margin-right:2300px;margin-top: 500px;}
  .row2{
    margin-left:500px;
    margin-right: auto;
    margin-bottom: 300px;
  }
  .aboutp{font-size:25px;margin-right: 12%;}
}
