#home{font-family:Arial, Helvetica, sans-serif}
.containerr {
    position: relative;
    text-align: center;
    color: white;
    height:370px;
    background-color: Black;
  }
  .img{
    opacity:0.5;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom:40px;
    left:100px;
    font-size:45px;
  }
// .img1{height:350px;}
.about{background-color:#DFD1A2 ;}
.h{margin:30px;}
.aboutp{margin-left:50px;font-size:25px;}
a{color: black;text-decoration: none;}

.row1 .ss{width:300px;height: 300px;margin-right:30px;margin-left:30px;}
.row1{margin-left:120px; }//margin-left:10% ;margin-right:5%




.row2 .ss1{width:300px;height: 300px;margin-right:30px;margin-left:30px;}
.row2 .ss2{width:300px;height: 300px;margin-right:30px;margin-left:30px;}
.row2 {margin-left:420px;}


.s{height: 270px;}
.s{background-color:#DFD1A2 ;font-size:25px;text-align: center;border-radius: 25px;box-shadow: 5px 5px inset #968d77;}
.s img{width:100px;height:100px;}
footer{background-color:#DFD1A2 ;}


.ss a .s:hover{background-color:#bbac7c ;}
.ss1 a .s:hover{background-color:#bbac7c ;}
.ss2 a .s:hover{background-color:#bbac7c ;}

// for small labtop
@media ( min-width: 768px)and  ( max-width:1300px){
  .row1 .ss{width:500px;height: 500px;}
  .row2 .ss1{width:500px;height: 500px;}
  .row2 .ss2{width:500px;height: 500px;}
.rooow{margin-right:2300px;margin-top: 500px;}
  .row1{
    margin-left: auto;
    margin-right:auto;
    width: 175%;
  }
  .row2{
    margin-left:1980px;
    margin-right: auto;
    width: 175%;
    margin-bottom: 300px;
  }
  .aboutp{font-size:40px;}
}

@media ( min-width: 768px)and ( max-width:1050px) {
  .row1 .ss{width:500px;height: 500px;}
  .row2 .ss1{width:500px;height: 500px;}
  .row2 .ss2{width:500px;height: 500px;}
.rooow{margin-right:2000px;margin-top: 500px;}
  .row1{
    margin-left: auto;
    margin-right:auto;
    width: 200%;
  }
  .row2{
    margin-left:1450px;
    margin-right: auto;
    width: 175%;
    margin-bottom: 350px;
  }
  .aboutp{font-size:40px;}
}


// my phone
@media ( min-width: 400px)and  ( max-width: 768px) {
  .row1{
    //margin-left:70px; 
    // margin: auto;
    // width: 60%;
    // padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .row2{
    //margin-left:75px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .aboutp{margin-right:15%;font-size:20px;}
  .bottom-left {
    position: absolute;
    bottom:30px;
    left:40px;
    font-size:25px;
  }
}


// small phone
@media ( max-width:400px) {
  .row1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .row2{
    margin-left: auto;
    margin-right: auto;
    width: 48%;
  }
  .aboutp{margin-right:15%;}
}




